.gap-3 {
    padding: 10px 0 !important;
}

.bg-success{
    background-color: rgb(14 218 123) !important;
}

strong{
    color: #EC5B53;
}

.skills .badge{
    height: fit-content;
    text-wrap: wrap;
    /* text-align: center; */
    font-size: 1rem;
}

h4 {
    font-size: 1.6rem;
}

.ctms .display-4, .domain-expertise .display-4, .skill-title{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(0, 45, 91);
    margin: 0;
}

p {
    font-size: 1.5rem;
    color: rgb(153, 153, 153);
}

@media screen and (min-width: 330px) {
    .btn {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 700px) {
    .navbar{
        padding: 0 2rem;
    }
}

.text-red {
    color: rgb(236, 91, 83) !important;
}

.bg-red {
    background-color: rgb(236, 91, 83) !important;
}

/* Main Section */

@media (min-width: 1400px) {

    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1980px;
    }
}

@media screen and (max-width: 575px) {
    .about-section .figure .col-3 {
        padding: 0 10px !important;
    }

    .about-section .figure .col-3 {
        width: fit-content;
    }

    .main {
        position: relative;
        bottom: 0;
        height: 100%;
        background-size: 100% 100%;
    }

    /* .about {
        padding: 6% 3% !important;
    } */
}

@media screen and (min-width: 576px) {
    .about-section .figure .col-3 {
        padding: 0 !important;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    .tarun-img {
        height: 10%;
    }
}


.main-section {
    background: url('./img/BG.png') no-repeat bottom;
    background-size: 100% 100%;
    background-position: center;
}

@media (max-width: 991px) {
    .main-section {
        background-color: #f5f5f5;
        background-image: none;
    }
}

/* Skills Section */

.skill-item {
    color: rgb(68, 68, 68);
    font-weight: 500;
    padding: 10px 30px;
    margin: 10px 0;
    font-size: 1rem;
}

.mlds .skill-item {
    background: rgb(255, 246, 232);
}

.css-scripting .skill-item {
    background-color: rgb(232, 234, 255);
}

.database .skill-item {
    background-color: rgb(255, 216, 242);
}

.cloud-api .skill-item {
    background-color: rgb(255, 232, 232);
}

.app-development .skill-item {
    background-color: rgb(223, 246, 214);
}

.project-management .skill-item {
    background-color: rgb(245, 232, 255);
}

/* Corporate Training and Management Section */

.ctms {
    text-align: center;
    justify-content: center;
    flex-direction: column;
    margin: 3% auto;
}

.ctms .gap-2 {
    margin-bottom: -15px;
}

.ctms .skill-item {
    background-color: rgb(232, 245, 255);
    height: fit-content;
    text-wrap: wrap;
}

/* Domain Expertise Section */

.domain-expertise {
    margin: 3% auto;
}

.domain-expertise .gap-1 {
    margin-bottom: -15px;
}

.domain-expertise .skill-item {
    background-color: rgb(255, 232, 232);
    height: fit-content;
    text-wrap: wrap;
}


/* Academic Section and Work Experience Section */

.academic-section {
    font-family: Lato, sans-serif;
    padding: 2% 0;
}

.section-title {
    color: #002D5B;
    font-size: 2rem;
    font-weight: 700;
}

.section-subtitle {
    color: #666;
    font-size: 1.5rem;
    font-weight: 500;
}

.image{
    display: flex;
    justify-content: center;
}

/* About Section */

.about-section h1 {
    color: #002D5B;
    font-size: 52px;
    font-weight: 700;
}

.about-section p {
    font-weight: 700;
}

.about-section #about-content {
    font-size: 1.5rem;
    line-height: 40px;
    color: rgb(102, 102, 102);
}

.tarun_img {
    background-color: #EC5B53;
    border-radius: 5%;
}

.about-section .figure h3 {
    color: rgb(0, 0, 0);
    font-size: 2rem;
}

.about-section .figure p {
    color: rgb(102, 102, 102);
    font-size: 1.2rem;
}

.about-section .shadow {
    left: 13%;
    bottom: 2rem;
    padding: 12px 12px !important;
    border-radius: 10px;
}

.about-section .shadow .col {
    background: rgb(236, 91, 83);
    border-radius: 8px;
    width: 20%;
    font-size: 2rem;
}

@media screen and (max-width: 1500px) {
    .about-section .shadow {
        left: 13% !important;
    }
}

@media screen and (max-width: 1399px) {
    .about-section .shadow {
        left: 13% !important;
        padding: 8px 18px !important;
    }
}

@media screen and (max-width: 1199px) {
    .about-section .shadow {
        left: 13% !important;
        padding: 6px 10px !important;
    }

    .about-section .shadow .col {
        font-size: 1.5rem;
    }
}

@media screen and (max-width:991px) {
    .about-section .row {
        display: flex;
        /* flex-direction: column; */
    }

    /* .image-about {
        left: 8 !important;
        width: 50% !important;
    } */

    /* .image-about img {
        height: 100%;
    } */

    .image-badge {
        margin-bottom: 4%;
        display: flex;
        justify-content: center;
    }

    .about-section .shadow {
        padding: 6px 10px !important;
        position: relative !important;
        flex-direction: row !important;
        height: fit-content;
    }

    .about-section .shadow .col {
        font-size: 1.5rem;
    }

    .para {
        margin: 0 !important;
    }
}

@media screen and (max-width:767px) {
    /* .about-section .row {
        flex-direction: column;
    } */

    .about-section {
        margin-top: 4rem;
    }

    .about-section p {
        margin: 0;
    }

    .about-section .row {
        display: flex;
        /* flex-direction: column; */
    }

    /* .image-about {
        width: 70% !important;
    } */

    /* .image-about img {
        height: 100%;
    } */

    .image-badge {
        margin-bottom: 4%;
        display: flex;
        justify-content: center;
    }

    .about-section .shadow {
        left: 13% !important;
        padding: 6px 10px !important;
    }

    .about-section .shadow .col {
        font-size: 0.8rem;
        padding: 6px 5.9px;
    }

    .para {
        margin: 0 !important;
    }
}

@media screen and (max-width: 575px) {
    .about-section {
        margin-top: 2rem;
    }

    .about-section p {
        margin: 0;
    }

    .about-section .row {
        display: flex;
        flex-direction: column;
    }

    .about-section .shadow {
        left: 13% !important;
        padding: 6px 10px !important;
        top: -5%;
    }

    .about-section .shadow .col {
        font-size: 0.8rem;
        padding: 6px 5.9px;
    }

    /* .image-about {
        left: 8 !important;
        width: 50% !important;
    } */

    /* .image-about img {
        height: 100%;
    } */

    .image-badge {
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
    }

    .shadow {
        height: fit-content;
        top: 90%;
        left: -26% !important;
        padding: 6px 11px;
    }

    .about-section .shadow {
        padding: 6px 11px;
        border-radius: 10px;
        background: #fff;
    }

    .about-section .shadow .col {
        background: rgb(236, 91, 83);
        border-radius: 4px;
        color: white;
        font-size: 1rem;
    }

    .para {
        margin: 0 !important;
    }
}


/* Certification & Achievements Section */

.certification-achievements {
    margin: 3% auto;
}

.certification-achievements .skill-item {
    background-color: rgb(229, 239, 255);
    color: rgb(68, 68, 68);
    padding: 15px 35px;
    margin: 10px 0;
    height: fit-content;
    text-wrap: wrap;
}


/* Awards & Appreciations Section */

.awards-appreciations {
    margin: 3% auto;
}

.awards-appreciations .skill-item {
    background-color: rgb(247, 218, 255);
    color: rgb(68, 68, 68);
    padding: 15px 35px;
    margin: 10px 0;
    height: fit-content;
    text-wrap: wrap;
}

@media screen and (max-width: 600px) {
    .content .span{
        height: fit-content !important;
        width: 89% !important;
    }
}

/* Footer */

.footer {
    background-color: rgb(243, 243, 243);
}

.footer .footer-title {
    font-size: 4rem;
    color: rgb(0, 0, 0);
    font-weight: 100;
}

.footer .footer-title span {
    color: rgb(0, 45, 91);
    font-weight: 500 !important;
}

.footer .footer-body {
    color: rgb(0, 0, 0);
    font-size: 1.75rem;
}

.footer .copyright {
    font-size: 1.75rem;
    color: rgb(0, 0, 0);
    padding-bottom: 20px;
}